<div class='card'>
  <div class='card-header'>
    <div class='row'>
      <div class='col-md-8'>{{pageTitle}}</div>
      <div class='col-md-4 float-right'>
        <input class="float-right" type='text' [(ngModel)]='listFilter' />
        <button class="float-right"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <a>
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCategory }}</td>
            <td>{{ product.price | currency:'INR':'symbol':'1.0' }}</td>
            <td> <button class='btn btn-primary' (click)='addToCart(product)'>
                Add to Cart
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
