<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}} </a>
  <ul class="nav nav-pills">
    <li> <a class="nav-link" [routerLink]="['/products']">Products</a></li>
    <li> <a class="nav-link" [routerLink]="['/cart']">Cart ({{cartProductCount}})</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
