<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class='card-body' *ngFor='let product of cartProducts'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{product.productName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Category:</div>
          <div class='col-md-8'>{{product.productCategory}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{product.price|currency:'INR':'symbol':'1.0'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'></div>
          <div class='col-md-8'>
            <select [(ngModel)]="product.cartCount" (change)="quantityUpdated(product)">
              <option *ngFor="let count of quantityCount" [value]="count"> {{count}} </option>
            </select>
            <!-- <input type='number' min="1" max="10" [(ngModel)]='product.cartCount' /> -->
            <button class='btn btn-primary margin-left-10' (click)='removeFromCart(product.productId)'>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>

